// contact
.contact {
  padding: 80px 0;
  background: $color-blue;

  @include media('md') {
    padding: 40px 0;
  }

  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 32px;

    @include media('md') {
      font-size: 19px;
      line-height: 27px;
      margin-bottom: 24px;
    }
  }

  &_in {
    padding: 60px;
    border-radius: 24px;
    background: $color-white;

    @include media('md') {
      padding: 24px 10px;
    }
  }

  .form-container_wrapper {
    border: 2px solid #B3D8FF;
    border-radius: 0 0 24px 24px;
  }

  .tab-container {
    margin: 0 auto;
    max-width: 780px;
  }

  .tabs {
      display: flex;

      .tab {
          padding: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          cursor: pointer;
          transition: all 0.3s ease;
          gap: 8px;
          border: 1px solid #E9E9E9;
          border-bottom: 1px transparent;
          border-radius: 12px 12px 0 0;
          position: relative;

          @include media('md') {
            padding: 12px;
          }

          img {
            width: 24px;
            height: 24px;
          }

          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #4C4C4C;

            @include media('md') {
              display: none;
            }
          }

          &.active {
            border: 2px solid #B3D8FF;
            border-bottom: 0;

            &::before {
              content: '';
              position: absolute;
              left: 0;
              bottom: -3px;
              height: 6px;
              background: $color-white;
              width: 100%;
            }
          }
      }
  }

  .form-container {
    display: flex;
    justify-content: center;

      .form {
          width: 580px;
          display: none;
          flex-direction: column;
          gap: 20px;
          padding: 40px 24px 50px;

          @include media('md') {
            padding: 16px 24px 24px 24px;
          }

          .form_block {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @include media('md') {
              gap: 4px;
            }
          }

          label {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #4C4C4C;

            @include media('md') {
              font-size: 12px;
              line-height: 20px;
            }
          }

          &.active {
              display: flex;
          }
      }
  }

  .main_btn {
    margin: 32px auto 0;

    @include media('md') {
      margin: 24px auto 0;
    }
  }
}

.contact_request {
  // display: none;
  padding: 80px 0;
  background: $color-blue;

  @include media('md') {
    padding: 40px 0;
  }

  &_in {
    background: $color-white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 195px 24px;

    @include media('md') {
      gap: 24px;
      padding: 161px 20px;
    }
  }

  h6 {
    font-weight: 800;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -2%;
    text-align: center;
    color: $color-black;

    @include media('md') {
      font-size: 34px;
      line-height: 40px;
    }
  }
}
// contact
